html
    include ../includes/head
    body
        include ../includes/navigation
        if (employee)
            div.container
                h1.title.is-spaced #{employee.last_name}, #{employee.first_name}
                if employee.job_title
                    h2.subtitle=employee.job_title
                div.card(style='padding:20px')
                    div
                        strong Address:
                        |
                        | #{employee.person_streetaddress}, #{employee.person_city}, #{employee.person_state} #{employee.person_zipcode}
                    div
                        strong Phone Number:
                        |
                        | #{employee.phone_number.substring(0,3)}-#{employee.phone_number.substring(3,6)}-#{employee.phone_number.substring(6)}
                    div
                        strong Email:
                        |
                        | #{employee.email}
        include ../includes/foot