html
    include ../includes/head
    body
        include ../includes/navigation
        if (tenant)
            div.container
                h1.title.is-spaced #{tenant.last_name}, #{tenant.first_name}
                h2.subtitle Property Name (Placeholder)
                div.card(style='padding:20px')
                    div
                        strong Address:
                        |
                        | #{tenant.street}, #{tenant.city}, #{tenant.state} #{tenant.zipcode}
                    div
                        strong Phone Number:
                        |
                        | #{tenant.phone_number.substring(0,3)}-#{tenant.phone_number.substring(3,6)}-#{tenant.phone_number.substring(6)}
                    div
                        strong Email:
                        |
                        | #{tenant.email}
        include ../includes/foot