html
    include ../includes/head
    body
        include ../includes/navigation
        if (tenant)
            div.container
                h1.title.is-spaced #{tenant.Last_Name}, #{tenant.First_Name}
                h2.subtitle Property Name (Placeholder)
                div.card(style='padding:20px')
                    div
                        strong Tenant Address:
                        |
                        | #{tenant.Street}, #{tenant.City}, #{tenant.State} #{tenant.Zipcode}
                    div
                        strong Tenant Phone Number:
                        |
                        | #{tenant.Phone_Number}
                    div
                        strong Tenant Email:
                        |
                        | #{tenant.Email}
        include ../includes/foot