html
    include includes/head
    body
        include includes/navigation
        div.container
            form#employee-search(action='/employees/search' method='get')
                div.field
                    label.label Employee Search
                    div.control
                        input.input(
                            type='text'
                            name='searchQuery'
                            placeholder='First Name, Last Name, or Job Title'
                            autofocus
                        )
                div.control: button.button.is-link(type='submit') Submit
            hr
            table#employees-table.table.is-striped.is-hoverable
                mixin columns
                    tr
                        th First Name
                        th Last Name
                        th Job Title
                thead: +columns
                if employees
                    if employees.length > 10
                        tfoot: +columns
                    tbody: for employee in employees
                        tr(id=employee.personid)
                            td=employee.first_name
                            td=employee.last_name
                            td=employee.job_title
        include includes/foot